<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VigieSante - Collecte IMC</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="header-image">
            <img src="{{url_for('static',filename='accueil.jpeg')}}"
            alt="Sante" class="form-image">
            </div>
        <h1>Collecte de données Biométriques</h1>
        <p>Veuillez remplir vos informations pour une analyse instantanée.</p>
        <form action="/calculer" method="POST">
            <div class="input-group">
                <label>Votre Nom :</label><br>
                <input type="text" name="utilisateur" required>
                <label>Téléphone :</label>
                <input type="tel" name="telephone" placeholder="Ex: 6xxxxxxxx" required>
                <label>Poids (en kg) :</label><br>
                <input type="number" name="poids" step="0.1" placeholder="Ex:75.5" required>
                <label>Taille (en mètres) :</label><br>
                <input type="number" name="taille" step="0.01" placeholder="Ex: 1.75" required>
             </div>
            <button type="submit">Envoyer et Analyser</button>
        </form>
    </div>

<style>
    .mon-footer {
        margin-top: 30px;
        text-align: center;
        padding: 20px;
        background: #f8f9fa;
        border-top: 1px solid #dee2e6;
        width: 100%;
    }

    
    @media (max-width: 600px) {
        .mon-footer {
            font-size: 14px;
            position: relative; 
        }
    }
</style>

<footer class="mon-footer">
    <p><strong>Application de Recensement Santé © 2026</strong></p>
    <p>Développée par <span style="color: #007bff;">Alexie Rostelle Bande Fetgna</span></p>
    <p style="font-size: 0.8em; font-style: italic;">Étudiante en Informatique - Niveau 2 - UY1</p>
</footer>

    
</body>
</html>